@import '../styleguide/variables.less';

.about-me {
  padding: 30px 20px 75px;
  max-width: @content-width;
  margin: 0 auto;
}
.about-me__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

.about-me__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__text,
.about-me__image {
  width: ~"calc((100% - 60px) / 2)";
} 

.about-me__image {
  margin-top: -70px;
}

.about-me__cta {
  display: inline-block;
  margin-top: 40px;
  text-transform: none;
}

@media screen and (max-width: @screen-sm-max) {
  .about-me {
    padding: 20px 0 75px;
  }
  .about-me__title {
    padding: 0 30px;
  }
  .about-me__content {
    flex-direction: column;
  }
  .about-me__text {
    padding: 0 30px;
    order: 1;
  }
  .about-me__image {
    order: 0;
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .about-me__text,
  .about-me__image {
    width: 100%;
  } 
}