@import '../../../../components/styleguide/variables.less';

.questionnaire {
    .score {
        background: @clr-accent;
        color: @white;
        padding: 3px 15px;
        box-shadow: 0 -1.5px 4px rgba(0,0,0,.5);
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .scoreComments a {
        color: @white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .scoreValue {
        margin-top: 5px;
        font-size: @font-size-h2;
        color: @white;
    }

    .scoreValue > span {
        font-size: 16px;
        font-weight: 600;
    }

    .score__ctas {
        margin-top: 20px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .score__btn {
        margin-bottom: 15px;
        svg {
            margin-right: 5px;
            margin-bottom: -2px;
        }
    }

    .score__btn--copy {
        margin-left: auto;
    }
}

@media screen and (max-width: @screen-sm-max) {
  .questionnaire {
    .score__ctas {
        flex-direction: column;
    }

    .score__btn--copy {
        margin-left: 0;
    }
  }
}
