@import '../styleguide/variables.less';

.hero {
  width: 100%;
  height: ~"calc(100vh)";
  position: relative;
  display: table;
  font-family: 'Raleway', sans-serif;
}

.hero__image {
  img {
    width: 100%;
    height: ~"calc(100vh - 50px)";
    object-fit: cover !important; // or whatever
    object-position: center !important; // or whatever
  }
  position: static!important;
}

.hero__image {
  position:relative;
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.1);
  }
}

.hero__text-container {
  z-index: 2;
  position: relative;
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  padding: 60px;
  // text-align: center;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.hero__title {
  font-family: 'Raleway', sans-serif;
  max-width: 55%;
  font-weight: 300;
  line-height: 55px;
  text-align: left;
  font-size: 30px;
  line-height: 1.5;
  margin-top: 120px;
  color: #000;
  // text-transform: uppercase;
  & > * {
    display: block;
    font-size: 40px;
    margin-top: -15px;
  }
}

.hero__subtitle {
  font-size: 20px;
  margin-top: 30px;
}

.hero__button {
  display: inline-block;
  margin: 40px 0 0; 
  border-color: #000;
  color:#000;
  background-color: transparent;
  transition: all .3s linear;
  letter-spacing: 1px;
  &:hover, &:focus {
    background-color: #fff;
    color: @clr-accent;
  }
}


@media screen and (min-width: 1400px) {
  .hero__title {
    max-width: 40%;
    font-size: 35px;
    line-height: 1.5;
    margin-top: 120px;
  }
}
@media screen and (max-width: 1100px) {
  .hero__title {
    max-width: 50%;
  }
}



@media screen and (max-width: @screen-sm-max) {
  .hero {
    display: block;
    flex-direction: column;
    height: auto;
  }
  .hero__image {
    order: 1;
    height: 100vh!important;
    &:after {
      display: none;
    }
    img {
      object-position: 73%!important;
      height: 100vh!important;
    }
  }
  .hero__text-container {
    order: 2;
    vertical-align: bottom;
    text-align: center;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
   }
  .hero__title {
    font-size: 35px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;
    margin-top: -200px;
    background-color: #fff;
    color: #2B2B2B;
    padding: 20px;
    font-size: 40px;
    text-transform: none;
  }
  .hero__button {
    color: @clr-accent;
    border-color: @clr-accent;
  }
}

@media screen and (max-width: @screen-xs-max) {

  .hero__title {
    font-size: 30px;
    line-height: 1.35;
    width: 100%;
    max-width: 100%;
    margin: 0;
    & > * {
      font-size: 25px;
      margin-top: 15px;
    }
  }
  
  .hero__subtitle {
    font-size: 20px;
    margin-top: 30px;
  }
}
