@import '../styleguide/variables.less';

.hero {
  width: 100%;
  height: ~"calc(100vh - 50px)";
}

.hero__image {
  img {
    width: 100%;
    height: ~"calc(100vh - 50px)";
    object-fit: cover !important; // or whatever
    object-position: 0% 0% !important; // or whatever
  }
  position: static!important;
}

@media screen and (max-width: @screen-sm-max) {
  .hero__image {
    img {
      object-position: 50% 50% !important;
    }
  }
}