@media print {
  .subscribe {
    display: none;
  }
  .nav {
    position: relative !important;
    height: 80px;
  }
  .nav--scrolled {
    box-shadow: none;
  }
  .nav__inner {
    margin-left: 0;
    width: 100%;
  }
  #content {
    margin-top: 0;
    padding: 0;
    margin-bottom: auto;
  }
  .content__page-wrapper,
  .index-page__content-wrapper {
    padding: 0;
  }
  .questionnaireName {
    margin-top: 0;
  }
  .instruction {
    padding: 0;
  }
}
