@import '../styleguide/variables.less';
@navbar-height: 130px;
@navbar-scrolled-height: 70px;
@bg-clr: rgba(54, 38, 36, .7);
@nav-color: #000;
@nav-scrolled-color: #39918C;

.nav {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size:  13px;
  letter-spacing:.5px;
  z-index: 10;
  position: absolute;
  top: 10;
  left: 0;
  transition: background-color .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  height: @navbar-height;
}



.nav--white {
  .nav__logo,
  .nav__logo-link {
    color: #fff;
  }

  .nav__menu-link {
    color: #fff;
  }
  .nav__menu-link--current,
  .nav__menu-link:hover {
    color: #fff;
    position: relative;
    &:after {
      width: 100%;
      position: aboslute;
      left: 0;
      bottom:0;
      content: '';
      display: block;
      height: 1px;
      background-color: #fff;
    }
  }
  .nav__cta {
    color: @clr-accent;
    background-color: #fff;
    border: 0;
  }
  .nav__burger-btn {
    color: #fff;
  }
}

.nav--visible,
.nav--scrolled {
  position: fixed;
  height: @navbar-scrolled-height;
  top: 0;
  left: 0;
  background-color: #fff;
  color: @nav-scrolled-color;
  box-shadow: 0 16px 16px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
  
  .nav__logo,
  .nav__logo-link {
    color: #000;
  }

  .nav__menu-link {
    color: #2B2B2B;
  }
  .nav__menu-link--current,
  .nav__menu-link:hover {
    color: @clr-accent;
  }
  .nav__cta {
    color: #fff;
  }
  .nav__burger-btn {
    color: #000;
  }
}


.nav__inner {
  height: 100%;
  display: table;
  margin: 0 auto;
  position: relative;
  width: calc(100% - 120px);
}

.nav__logo {
  height: 100%;
  color: @nav-color;
  display: table-cell;
  vertical-align: middle;
}

.nav__logo-link {
  text-transform: lowercase;
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 25px;
  line-height: 1;
}

.nav__menu {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  text-transform: uppercase;
}

.nav__menu-item {
  display: inline-block;
  padding: 0 15px;
}

.nav__menu-link {
  color: @nav-color;
  text-decoration: none;
  position: relative;
  z-index: 0;
  transition: color .2s linear;
  &:hover {
    color: #492F1F;
  }
}
.nav__social-icons {
  // align-self: flex-end;
  // display: flex;
  // align-items: space-between;
  // position: absolute;
  // top: 15px;
  // right: 50px;
}
.nav__social-icons-item {
  margin: 0 7px;
}

.nav__social-icons-item-link {
  color: @white;
}

.nav-link--facebook {
  font-size: 15px;
}
.nav-link--mail {
  svg {
    width: 20px;
    height: 20px;
  }
}

.nav__burger-btn {
  height: @navbar-height;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  color: #fff;
  display: none;
}

.nav__cta {
  height: 45px;
  line-height: 44px!important;
  padding: 0 15px!important;
  font-size:  13px;
  font-weight: 400;
  letter-spacing: 1px!important;
  transition: all 0.3s linear;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  border-color: #000;
  color: #000;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .nav__inner {
    width: calc(100% - 30px);
  }
  .nav__logo-link {
    // font-size: 30px;
  }
  .nav__menu-item {
    padding: 0 10px;
    &:last-child {
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .nav__cta {
    padding: 0 5px;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .nav {
    height: 90px;
    max-height: 90px;
    padding-top: 0;
    overflow: hidden;
  }
  .nav__inner {
    padding: 0 0 0 10px;
    display: flex;
    width: calc(100% - 20px);
  }
  .nav__logo {
    margin-top: 20px;
  }
  .nav__burger-btn {
    display: block;
    padding: 0 10px;
    height: 90px;
    line-height: 55px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__theme-switcher {
    right: 60px;
    top:25px;
  }
  .nav__menu,
  .nav__social-icons {
    display: none;
  }

  .nav--expanded {
    height: auto;
    max-height: 1000px;
    background-color: #fff;

    .nav__inner {
      flex-direction: column;
    }

    .nav__cta,
    .nav__logo,
    .nav__logo-link,
    .nav__burger-btn {
      color: #000;
    }

    .nav__cta {
      border-color: #000;
    }

    .nav__menu {
      position: static;
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }
    .nav__menu-item {
      margin: 10px 0;
      padding: 0;
      text-align: center;
    }
    .nav__menu-link {
      color: #2b2b2b;
      &:hover {
        color: #e4b398;
      }
    }
    .nav__menu-link--current {
      color: @clr-accent;
    }

    .nav__cta {
      padding: 0 15px;
    }

    .nav__social-icons {
      position:static;
      display: flex;
      width: 100%;
      height: 50px;
      line-height: 50px;
      justify-content: center;
    }

    .nav__social-icons-item {
      width: 40px;
    }
  }
}