@import '../../../../components/styleguide/variables.less';

.question {
    display: flex; 
    padding: 8px 0;

    @media screen and (max-width: @screen-sm-max) {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 0px;
    }
}

.question + .question {
    border-top: 1px solid #d7d7d7;
}

.questionText {
    flex: 1 1 0;

    @media screen and (max-width: @screen-sm-max) {
        margin-bottom: 10px;
    }
}


