@import '../styleguide/variables.less';

.certificates {
  padding-bottom: 50px;
  margin-top: 20px;
}

.certificates__columns {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.certificates__column {
  width: ~"calc((100% - 30px) / 2)";
}

.certificates__column--left {
}

.certificates__title {
  margin-top: 40px!important;
}

.slick-slide {
  position: relative;
}
.certificates__text {
  position: absolute;
  bottom: 7px;
  width: 100%;
  padding: 30px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
}

.slick-arrow {
  height: 100%;
  width: 40px;
}
.slick-prev {
  left: 0;
  z-index: 1;
}

.slick-next {
  right: 0;
}
.slick-arrow:before,
.slick-arrow:after {
  color: @clr-text;
}

@media screen and (max-width: @screen-sm-max) {
  .slick-arrow {
    height: 100%;
    width: 40px;
  }
}


@media screen and (max-width: 1160px) {
  .certificates__columns {
    flex-direction: column;
  }
  
  .certificates__column {
    width: 100%;
  }
}