.questionnaire {
    max-width: 610px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    color: rgb(89,89,89);
}

.questionnaireName {
    margin-bottom: 5px;
    font-size: 32px;
}

.description,
.instruction {
    font-size: 14.5px;
    color: #8f8f8f;
}

.description {
    margin-bottom: 20px;
}

.instruction {
    color: #8f8f8f;
    background: rgb(240, 240, 240);
    border-radius: 3px;
    padding: 15px;
}