@import "../../components/styleguide/variables.less";

.content__questionnaire {
    img {
      max-width: 100%;
      max-height: 500px;
    }
  }

@media screen and (max-width: @screen-sm-max) {
  .content__questionnaire {
    padding-top: 50px;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  #recommended-content {
    display: none;
  }
}